<div id='container'>
  <div id='nav'>
    <a href="/#/links">All Links</a>
    <a href="/#/shorten">Shorten URl</a>
  </div>
  <!-- Your html here -->
  <div id='searchContainer'>
    <input name="happySearchBox" ng-model="search" type="search" placeholder="User beware!@!#!@#!@ Your search decides your fate">
  </div>
  <div id='linksContainer'>
    <ul>
      <li ng-repeat="link in allLinks | filter:search">
        <p>Title: {{ link.title }}</p>
        <p>URl: {{ link.url }}</p>
        <p>Shortly URl:
          <a href="http://localhost:3000/{{ link.code }}"> http://localhost:3000/{{ link.code}}</a>
      </li>
    </ul>
  </div>
</div>
